.colour{
    background-color: black;
}
.nav-link {
    font-family: "Krub", sans-serif;
    justify-items: left;
}

.bento-box{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 65px);
    gap: 5px;
    padding: 5px;
}

.box {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.box1{
    grid-column: span 2;
    grid-row: span 5;
    background-color: #C46938;
}
.box2{
    grid-column: span 3;
    grid-row:span 3;
    background-color: #146096;
}
.box3{
    grid-column: span 3;
    grid-row: span 5;
    background-color: #FCCD77;
}
.box4{
    grid-row: span 3;
    grid-column: span 4;
    background-color: #FF945B;
}
.portfolio{
    grid-row: span 2;
    grid-column: span 3;
    background-color: #5791BA;
    justify-content: center;
    font-family: "Krub", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.box5{
    grid-row: span 8;
    grid-column: span 4;
    background-color: #146096;
}
.box6{
    grid-row: span 6;
    grid-column: span 3;
    background-color: #FCCD77;
}
.box7{
    grid-row: span 6;
    grid-column: span 5;
    background-color: #C46938;
}
.box img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 30px;
animation: fadeInOut 9s ease-in-out infinite;
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0;}
    50% {opacity: 0.8;}
}

.box1 img{
    animation-delay: 1s;
}

.box4 img{
    animation-delay: 3s;
}
.box3 img{
    animation-delay: 5s;
}
.box7 img{
    animation-delay: 7s;
}
.box .text{
    position: absolute;
    font-family: "Krub", sans-serif;
    color: rgb(47, 47, 47);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    opacity: 80%;
}

.itemz1{
    aspect-ratio: 595/363;
    border-radius: 30px;
    background-color: #C46938;
   margin: 15px;
}
.itemz2{
    aspect-ratio: 595/363;
    border-radius: 30px;
    background-color: #FCCD77;
   margin: 15px;
}
.itemz3{
    aspect-ratio: 595/363;
    border-radius: 30px;
    background-color: #146096;
   margin: 15px;
}
.itemz4{
    aspect-ratio: 595/363;
    border-radius: 30px;
    background-color: #FF945B;
   margin: 15px;
}
.imgoverlay {
    position: relative;
    width: 100%;
    aspect-ratio: 595/363; /* your ratio */
    overflow: hidden;
    border-radius: 20px;
    ;
}

.imgoverlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.7;
    transition: opacity 0.6s ease;
}
.imgoverlay:hover img{
    opacity: 0.5;
}
.contentoverlay{
    position: absolute;
    text-align: center;
    font-family: "Krub", sans-serif;
    top: 30%;
    bottom: 50%;
    left: 25%;
    color: black;
    font-weight: bolder;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.imgoverlay:hover .contentoverlay{
    opacity: 1;
}
.column1{
    grid-row: span 4;
    grid-column: span 3;
    background-color: #C46938;
}
.column2{
    grid-row: span 3;
    grid-column: span 4;
    background-color: #FCCD77;
}
.column3{
    grid-row: span 3;
    grid-column: span 5;
    background-color: #5791BA;
}
.column4{
    grid-row: span 4;
    grid-column: span 6;
    background-color: #146096;
  
}
.column5{
      grid-row: span 7;
    grid-column: span 3;
    background-color: #FF945B;
}
.column6{
    grid-row: span 3;
    grid-column: span 3;
    background-color: #FCCD77;
}
.column7{
    grid-row: span 3;
    grid-column: span 5;
    background-color: #C46938;
}
.column8{
    grid-row: span 3;
    grid-column: span 2;
    background-color: #5791BA;
}
.column9{
    grid-row: span 3;
    grid-column: span 2;
    background-color: #FCCD77;
}
@keyframes loopfade{
    0%, 100% {opacity: 0.3;}
    50%{ opacity: 1;}
}
.fadebox{
    animation: loopfade 8s ease-in-out infinite;
}

.column1 {animation-delay: 0s;}
.column2 {animation-delay: 1s;}
.column3 {animation-delay: 2s;}
.column5 {animation-delay: 3s;}
.column6 {animation-delay: 1s;}
.column7 {animation-delay: 2s;}
.column8 {animation-delay: 3s;}
.column9 {animation-delay: 0s;}

.grid1{
    grid-row: span 4;
    grid-column: span 4;
    background-color: #146096;
}
.grid2{
    grid-row: span 4;
    grid-column: span 4;
    background-color: #FCCD77;
}
.grid3{
    grid-row: span 3;
    grid-column: span 4;
    background-color: #C46938;
}
.grid4{
    grid-row: span 4;
    grid-column: span 4;
    background-color: #5791BA;
    position: relative;
    overflow: hidden;
}
.grid5{
    grid-row: span 2;
    grid-column: span 8;
    background-color: #FF945B;
}
.grid6{
    grid-row: span 5;
    grid-column: span 8;
    background-color: #FCCD77;
    position: relative;
}
.grid7{
    grid-row: span 4;
    grid-column: span 4;
    background-color: #C46938;
}
.textfade{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    font-family: "krub", sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;

    opacity: 0.2;
    transition: opacity 1s ease-in-out;

    pointer-events: none;
}
.grid6:hover .textfade {
    opacity: 1;
}
.grid4.logos {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr);   
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.imgopc {
    width: 100%;
    max-width: 120px;
    height: auto;
    opacity: 0.7;
    border-radius: 40px;
}
.imgopc:hover {
    opacity: 1;
}

.half-bento {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  height: 100vh;         /* 2/5 of viewport height */
  width: 100%;          
  padding: 10px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.giveup1{
    grid-row: span 3;
    grid-column: span 4;
    background-color: #C46938;
}
.giveup2{
    grid-row: span 5;
    grid-column: span 3;
    background-color: #5791BA;
}
.giveup3{
    grid-row: span 4;
    grid-column: span 2;
    background-color: #FF945B;
}
.giveup4{
    grid-row: span 4;
    grid-column: span 2;
    background-color: #FCCD77;
}
.giveup5{
    grid-row: span 5;
    grid-column: span 1;
    background-color: #146096;
}
.giveup6{
    grid-row: span 2;
    grid-column: span 3;
    background-color: #FCCD77;
}
.giveup7{
    grid-row: span 2;
    grid-column: span 1;
    background-color: #146096;
}
.giveup8{
    grid-row: span 1;
    grid-column: span 1;
    background-color: #C46938;
}
.giveup9{
    grid-row: span 1;
    grid-column: span 3;
    background-color: #5791BA;
}
.giveup1{ animation-delay: 0s;}
.giveup2{ animation-delay: 0.5s;}
.giveup3{ animation-delay: 1s;}
.giveup4{ animation-delay: 1.5s;}
.giveup5{ animation-delay: 0s;}
.giveup6{ animation-delay: 0.5s;}
.giveup7{ animation-delay: 1s;}
.giveup8{ animation-delay: 1.5s;}
.giveup9{ animation-delay: 0s;}

.why{
    text-align: center;
     font-family: "krub", sans-serif;
    color: rgb(255, 254, 254);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}
.nah{
    height: auto;
    text-align: center;
    margin: 5%;
    color: aliceblue;
    font-family: "krub", sans-serif;
    position: absolute;
    top: 60%;
} 
.sleep-container{
    position: absolute;
    width: 100%;
    height: 550px;
    top: 20%;
}
.sleep{
    height: 550px; 
    color: aliceblue;
    top: 0%;
    overflow: hidden;
    border-radius: 30px;
    background-color: aliceblue;
    width: 30%;
    position: absolute;
}
.sleep img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}    
.sleep:nth-child(1){
    top: 90%;
    left: 36%;
}

.sleep:nth-child(2){
    top: 90%;
    left: 4%;
}
.sleep:nth-child(3){
    top: 90%;
    left: 67%;
}

